*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin: 3rem auto;
}
.box-container{
    width: 250px;
    max-width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
}
.box-1{
    background-color: hsl(31, 77%, 52%);
}

.box-2{
    background-color: hsl(184, 100%, 22%);
}
.box-3{
    background-color: hsl(179, 100%, 13%);
}
.box-icon{
    padding: 1rem 0;
    padding-top: 0;
}

.box-title{
    padding: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.box-text{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 1.5rem;
    line-height: 1.4;
    color: #fff;
}

.box-btn{
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: #fff;
}
.box-btn a{
    text-decoration: none;
}
.box-1 a{
    color: hsl(31, 77%, 52%);
}
.box-2 a{
    color: hsl(184, 100%, 22%);
}
.box-3 a{
    color: hsl(179, 100%, 13%);
}
.box-1 .box-btn:hover{
    background-color: hsl(31, 77%, 52%);
    border: 2px solid #fff;
}
.box-1 .box-btn:hover a{
    color: #fff;
}
.box-2 .box-btn:hover{
    background-color: hsl(184, 100%, 22%);
    border: 2px solid #fff;
}
.box-2 .box-btn:hover a{
    color: #fff;
}
.box-3 .box-btn:hover{
    background-color: hsl(179, 100%, 13%);
    border: 2px solid #fff;
}
.box-3 .box-btn:hover a{
    color: #fff;
}